.article-header {
    position: relative;
    margin-bottom: 1rem;
 
    &.has-image {
        .article-details {
            padding-right: 80px;  // Reduced from 160px
        }
    }

    .article-image {
        position: absolute;
        top: 0;
        right: 0;
        width: 160px;
        height: 80%;
        
        img {
            width: 80%;
            height: 80%;
            object-fit: cover;
            border-radius: var(--card-border-radius);
        }
    }
 
    .article-details {
        position: relative;
        z-index: 1;
        background-color: rgba(var(--card-background-color), 0.9);
        padding: 1rem;
        border-radius: var(--card-border-radius);
    }
}
