{{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
<header class="article-header{{ if $image.exists }} has-image{{ end }}">
    <div class="article-details">
        <div class="article-title-header">
            {{ partial "article/components/details.html" . }}
            
            {{ if $image.exists }}
                <div class="article-image">
                    {{ if $image.resource }}
                        {{- $Permalink := $image.resource.RelPermalink -}}
                        {{- $Width := $image.resource.Width -}}
                        {{- $Height := $image.resource.Height -}}
                        {{- $Srcset := "" -}}
                        
                        {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                            {{- $thumbnail := $image.resource.Resize "800x" -}}
                            {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
                            {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                            {{- $Permalink = $thumbnail.RelPermalink -}}
                            {{- $Width = $thumbnail.Width -}}
                            {{- $Height = $thumbnail.Height -}}
                        {{- end -}}

                        <img src="{{ $Permalink }}"
                            {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                            width="{{ $Width }}" 
                            height="{{ $Height }}" 
                            loading="lazy"
                            alt="Featured image of post {{ .Title }}" />
                    {{ else }}
                        <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
                    {{ end }}
                </div>
            {{ end }}
        </div>
        
        {{ with .Params.description }}
            <h3 class="article-subtitle">
                {{ . }}
            </h3>
        {{ end }}
        
        {{ $showReadingTime := .Params.readingTime | default (.Site.Params.article.readingTime) }}
        {{ $showDate := not .Date.IsZero }}
        {{ $showFooter := or $showDate $showReadingTime }}
        {{ if $showFooter }}
            <footer class="article-time">
                {{ if $showDate }}
                    <div>
                        {{ partial "helper/icon" "date" }}
                        <time class="article-time--published">
                            {{- .Date | time.Format (or .Site.Params.dateFormat.published "Jan 02, 2006") -}}
                        </time>
                    </div>
                {{ end }}
        
                {{ if $showReadingTime }}
                    <div>
                        {{ partial "helper/icon" "clock" }}
                        <time class="article-time--reading">
                            {{ T "article.readingTime" .ReadingTime }}
                        </time>
                    </div>
                {{ end }}
            </footer>
        {{ end }}
        {{/*  <div class="article-meta">
            {{ with .Description }}
                <p class="description">{{ . }}</p>
            {{ end }}
            <div class="metadata">
                <span class="date">{{ .Date.Format "January 2, 2006" }}</span>
                {{ if .Site.Params.article.readingTime }}
                    <span class="reading-time">{{ .ReadingTime }} min read</span>
                {{ end }}
            </div>
        </div>  */}}
    </div>
</header>

{{/*  {{- $image := partialCached "helper/image" (dict "Context" . "Type" "article") .RelPermalink "article" -}}
<header class="article-header{{ if $image.exists }} has-image{{ end }}">
    <div class="article-details">
        {{ partial "article/components/details.html" . }}
    </div>
    
    {{ if $image.exists }}
        <div class="article-image">
            {{ if $image.resource }}
                {{- $Permalink := $image.resource.RelPermalink -}}
                {{- $Width := $image.resource.Width -}}
                {{- $Height := $image.resource.Height -}}
                {{- $Srcset := "" -}}
                
                {{- if (default true .Page.Site.Params.imageProcessing.cover.enabled) -}}
                    {{- $thumbnail := $image.resource.Resize "800x" -}}
                    {{- $thumbnailRetina := $image.resource.Resize "1600x" -}}
                    {{- $Srcset = printf "%s 800w, %s 1600w" $thumbnail.RelPermalink $thumbnailRetina.RelPermalink -}}
                    {{- $Permalink = $thumbnail.RelPermalink -}}
                    {{- $Width = $thumbnail.Width -}}
                    {{- $Height = $thumbnail.Height -}}
                {{- end -}}

                <img src="{{ $Permalink }}"
                    {{ with $Srcset }}srcset="{{ . }}"{{ end }}
                    width="{{ $Width }}" 
                    height="{{ $Height }}" 
                    loading="lazy"
                    alt="Featured image of post {{ .Title }}" />
            {{ else }}
                <img src="{{ $image.permalink }}" loading="lazy" alt="Featured image of post {{ .Title }}" />
            {{ end }}
        </div>
    {{ end }}
</header>  */}}